<div class="about-wrapper">
    <li>
      Perform mock transactions.
    </li>
    <li>
      You can choose to send a new transaction or view transaction history.
    </li>
    <li>
      POST and GET requests are linked to a MongoLab DB host.
    </li>
    <li>
      The tech stack is Node, Express, Mongoose, Mongodb, jQuery, Handlebars, Less, and Bootstrap.
    </li>
    <li>
      If you'd like to view the souce code, it can be found here: <a href="https://github.com/maxehnert/paymentsInNode">https://github.com/maxehnert/paymentsInNode</a>
    </li>
</div>
<div class="transaction-btn-wrapper"> <!-- Footer Button Section-->
  <a href="/" class="back-home-link">
    <button class="btn btn-group back-home-btn">Back</button>
  </a>
</div>
