<a href="send">
  <button role="button" class="send-money-btn">
    <div class="send-money-btn-title">Send Money</div>
  </button>
</a>
<a href="transactions">
  <button role="button" class="view-transaction-hist-btn">
    <div class="view-transaction-hist-title">View Transaction History</div>
  </button>
</a>
<div class="homeFooter"></div> <!-- Footer Fill Space Section-->
