<a href="send">
  <button class="sendMoneyBtn">
    <div class="sendMoneyTitle">Send Money</div>
  </button>
</a>
<a href="transactions">
  <button class="viewTransactBtn">
    <div class="viewTransactTitle">View Transaction History</div>
  </button>
</a>
<div class="homeFooter"></div> <!-- Footer Fill Space Section-->
