<form action="/send" method="post" class ="sendForm">
  <div class="form-group"> <!-- Email Input Section-->
    <div class="wrapper">
      <span class="inputEmailPrepend">To:</span>
      <input type="email"
             required class="emailInput"
             name="email"
             placeholder="enter email address">
      <!-- <span class="glyphicon glyphicon-ok-sign emailGlyphicon" aria-hidden="true"></span> -->
      <i class="fa fa-check-circle fa-2x emailGlyphicon"></i>
    </div>
  </div> <!-- END Email Input Section-->
  <div class="form-group"> <!-- Currency Input Section-->
    <div class="wrapper">
      <span class="inputAmountPrepend">Amount:</span>
        <!-- <span class="CurrencySymbol"> -->
      <input type="text"  class="amountInput" name="amount" placeholder="enter amount">

      <div class="btn-group currencyBtnGroup"> <!-- Currency Type Selection-->
        <button type="button"
                class="btn btn-default dropdown-toggle currencyBtn"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                name="service">
          USD <span class="caret"></span>
        </button>
        <ul  class="dropdown-menu">
         <!-- Inserting from main.js
         <li name='currency'><a href='#'>"+val.currency+"</a></li> -->
        </ul>
      </div>
    </div>
  </div> <!-- End Currency Input Section-->
  <div class="wrapper"> <!-- Message Input Section-->
    <label for="message" class="messageInputLabel">Message (optional): </label>
    <textarea class="form-control messageInput" name="message" rows="3"></textarea>
  </div> <!-- END Message Input Section-->
  <label for="selection" class="sendPayChoiceLabel">What's this payment for?</label> <!-- Payment Type Section-->
  <div class="paymentChoiceWrapper">
    <div class="btn-group-vertical paymentType" data-toggle="buttons">
      <label class="btn sendingMoneyChoice">
        <input type="radio" name="service" id="paymentOption1" autocomplete="off" value="sendMoney"> I'm sending money to friends or family <i class="fa fa-check fa-2x pull-right paymentOption1Icon"></i>
      </label>
      <label class="btn payingForGoodsChoice">
        <input type="radio" name="service" id="paymentOption2" autocomplete="off" value="payGoods"> I'm paying for goods or services <i class="fa fa-check fa-2x pull-right paymentOption2Icon"></i>
      </label>
    </div>
  </div> <!-- END Payment Type Section-->
  <div class="buttonWrapper "> <!-- Footer Buttons Section-->
    <a href="#" class="clearFormLink">
      <button class="btn btn-group clearFormButton">Clear</button>
    </a>
    <a href="success" class="nextPageLink">
      <button class="btn btn-group nextPageButton" type="submit">Next</button>
    </a>
  </div> <!-- END Footer Buttons Section-->
</form>
