<form action="/send" method="post" class ="js-send-form send-form">
  <div class="form-group"> <!-- Email Input Section-->
    <div class="wrapper">
      <span class="input-email-prepend">To:</span>
      <input type="email"
             required class="js-email-input email-input"
             name="email"
             placeholder="enter email address">
      <i class="fa fa-check-circle fa-2x js-email-valid-icon email-valid-icon"></i>
    </div>
  </div> <!-- END Email Input Section-->
  <div class="form-group"> <!-- Currency Input Section-->
    <div class="wrapper">
      <span class="js-input-amount-prepend input-amount-prepend">Amount:</span>
      <span class="js-currency-symbol"></span>
      <!-- INSERT  <span class="js-currency-symbol"> -->
      <input type="text" required class="js-payment-amount-input payment-amount-input" name="amount" placeholder="enter amount">
      <div class="btn-group js-currency-btn-group currency-btn-group">
        <button type="button" class="btn js-currency-btn currency-btn">Currency</button>
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <!-- INSERT li Items -->
        </ul>
      </div>
      <!-- INSERT Hidden currency symbol input -->
    </div>
  </div> <!-- End Currency Input Section-->
  <div class="wrapper"> <!-- Message Input Section-->
    <label for="message" class="message-input-label">Message (optional): </label>
    <textarea class="form-control message-input" name="message" rows="3"></textarea>
  </div> <!-- END Message Input Section-->
  <label for="selection" class="payment-choice-label">What's this payment for?</label> <!-- Payment Type Section-->
  <div class="payment-choice-wrapper">
    <div class="btn-group-vertical payment-choice-type-group" data-toggle="buttons">
      <label class="btn js-payment-choice-type__send-btn payment-choice-type__send-btn">
        <input type="radio" name="service" id="paymentOption1" autocomplete="off" value="sending money"> I'm sending money to friends or family <i class="fa fa-check fa-2x pull-right js-payment-choice-type__send-icon payment-choice-type__send-icon"></i>
      </label>
      <label class="btn js-payment-choice-type__pay-btn payment-choice-type__pay-btn">
        <input type="radio" name="service" id="paymentOption2" autocomplete="off" value="paying for goods"> I'm paying for goods or services <i class="fa fa-check fa-2x pull-right js-payment-choice-type__pay-icon payment-choice-type__pay-icon"></i>
      </label>
    </div>
  </div> <!-- END Payment Type Section-->
  <div class="btn-group-footer"> <!-- Footer Buttons Section-->
    <a href="#" class="clear-form-link">
      <button class="btn btn-group js-clear-form-btn clear-form-btn">Clear</button>
    </a>
    <a href="success" class="js-next-page-link next-page-link">
      <button class="btn btn-group next-page-btn" type="submit">Next</button>
    </a>
  </div> <!-- END Footer Buttons Section-->
</form>
