<form action="/send" method="post" class ="myForm">

  <div class="form-group">
    <div class="wrapper">
      <span class="inputEmailPrepend">To:</span>
      <input type="email"
             required class="emailInput"
             name="email"
             placeholder="enter email address">
      <!-- <span class="glyphicon glyphicon-ok-sign emailGlyphicon" aria-hidden="true"></span> -->
      <i class="fa fa-check-circle fa-2x emailGlyphicon"></i>
    </div>
  </div>

  <div class="form-group">
    <div class="wrapper">
      <span class="inputAmountPrepend">Amount:</span>
        <!-- <span class="CurrencySymbol"> -->
      <input type="text"  class="amountInput" name="amount" placeholder="enter amount">

      <!-- Single button -->
      <div class="btn-group currencyBtnGroup">
        <button type="button"
                class="btn btn-default dropdown-toggle currencyBtn"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                name="service">
          USD <span class="caret"></span>
        </button>
        <ul  class="dropdown-menu">
         <!-- Inserting from main.js
         <li name='currency'><a href='#'>"+val.currency+"</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <label for="message" class="messageInputLabel">Message (optional): </label>
    <textarea class="form-control messageInput" name="message" rows="3"></textarea>
  </div>

  <label for="selection" class="sendPayChoiceLabel">What's this payment for?</label>
  <div class="paymentChoiceWrapper">
    <!-- <div class="list-group paymentType"> -->
  <!--     <div class="input-group">
    <input type="text"
           class="form-control sendingMoneyChoice btn disabled"
           aria-describedby="basic-addon12"
           name="service"
           value="I'm sending money to friends or family">
    <span class="glyphicon glyphicon-ok sendingMoneyChoiceGlyphicon input-group-addon"
          id="basic-addon12"
          aria-hidden="true">
    </span>


    </div> -->

        <div class="btn-group-vertical paymentType" data-toggle="buttons">

          <label class="btn sendingMoneyChoice">
            <input type="radio" name="service" id="paymentOption1" autocomplete="off"> I'm sending money to friends or family <i class="fa fa-check fa-2x pull-right paymentOption1Icon"></i>
          </label>

          <label class="btn payingForGoodsChoice">
            <input type="radio" name="service" id="paymentOption2" autocomplete="off"> I'm paying for goods or services <i class="fa fa-check fa-2x pull-right paymentOption2Icon"></i>
          </label>

        </div>

<!--         <div class="input-group">
  <input type="button"
         class="form-control payingForGoodsChoice"
         aria-describedby="basic-addon13"
         value="I'm paying for goods or services">
  <span class="glyphicon glyphicon-ok payingForGoodsChoiceGlyphicon input-group-addon"
        id="basic-addon13"
        aria-hidden="true">
  </span>
</div> -->
    <!-- </div> -->
  </div>
  <div class="buttonWrapper ">
    <a href="#" class="clearFormLink">
      <button class="btn btn-group clearFormButton">Clear</button>
    </a>
    <a href="success" class="nextPageLink">
      <button class="btn btn-group nextPageButton" type="submit">Next</button>
    </a>
  </div>
</form>
