<div class="success-wrapper">
  {{#each data}}
  <div class="confirmation">
    You have sent {{currencySymbol}}{{amount}} to {{email}}!
  </div>
  {{/each}}
  <br />
  <i class="fa fa-check fa-4x"></i>
</div>
<div class="btn-group-footer"> <!-- Footer Buttons Section-->
  <a href="send" class="send-more-money-link">
    <button class="btn btn-group send-more-money-btn">Send Money</button>
  </a>
  <a href="transactions" class="transaction-history-link">
    <button class="btn btn-group transaction-history-btn">Transaction History</button>
  </a>
</div> <!-- END Footer Buttons Section-->
