<div class="successWrapper">
  <div class="confirmation">You have sent {{currencySymbol}}{{amount}} {{currency}} to {{receiver}}!</div>
  <br />
  <i class="fa fa-check fa-4x"></i>

</div>
<div class="buttonWrapper">
  <a href="#" class="sendMoreMoneyLink">
    <button class="btn btn-group sendMoreMoneyBtn">Send Money</button>
  </a>
  <a href="#" class="transactionHistoryLink">
    <button class="btn btn-group transactionHistoryBtn">Transaction History</button>
  </a>
</div>
