/* Notes for improvement
- add variables for font-size 1.2 and 1.5em
- nest classes to avoid needing !important because of bootstrap
- colors are all over the place, use 1 style only HSLA
- create variable for colors also
- probably use a mixin for font-size, weight-color
- width variables;
- background-color variable;
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

button {
  color: HSLA(0, 0%, 25%, 1);
}

/*
 * Force Chrome to change background-color for input values
*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px HSLA(48, 33%, 97%, 1) inset;
}

.mainContainer {
  background-image: radial-gradient(HSLA(30, 59%, 17%, 1), HSLA(32, 60%, 19%, 1));
  border: 2px solid black;
  padding-left: 0px !important;
  padding-right: 0px !important;
  postion: relative;
}

.content {
  background-color: HSLA(26, 40%, 92%, 1);
  margin-right: auto;
  margin-left: auto;
  padding-top: 1%;
  width: 100%;
}

.pageTitle {
  color: white;
  font-size: 1.75em;
  margin: 4%;
  text-align: center;
}

.pageFooter {
  margin: 15%;
}

/* START Initial Page*/
.sendMoneyBtn,
.viewTransactBtn {
  background-image: linear-gradient(#f5f5f5, #bababa);
  border-radius: 6px;
  border: transparent;
  height: 125px;
  text-align: center;
  width: 87%;

  .sendMoneyTitle,
  .viewTransactTitle {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5em;
    font-weight: bold;
  }
}
.sendMoneyBtn {
  margin: 21% 6%;
}
.viewTransactBtn {
  margin: 1% 6% 23%;
}
.homeFooter {
  margin-bottom: 15%;
  background-color: HSLA(34, 70%, 13%, 1);
}

/* END Initial Page*/

/* START Send Money Page*/

.input-container {
   position: relative;
}

.input-container input {
  width: 100%;
}

.input-container
.input-label {
  padding-left: 5px;
  position: absolute;
  top: 7px;
  width: 45px;
}

.amount-input {
  text-indent: 50px;
}

.inputEmailPrepend,
.inputAmountPrepend,
.messageInputLabel {
  font-size: 1.2em;
  margin-left: 8px;
  font-weight: 400;
}

.wrapper {
  background-color: HSLA(48, 33%, 97%, 1);
  border: 2px solid black;
  border-radius: 10px;
  margin: 4%;
  padding: 2%;

  .emailGlyphicon {
    float: right;
    color: green ;
    display: none;
  }
}
.emailInput {
  background-color: HSLA(48, 33%, 97%, 1) !important;
  border: none;
  outline: none;
  width: 50%;
}

.amountInput {
  background-color: transparent;
  border: none;
  width: 50%;
  outline: none;
}

.currencyBtnGroup {
  float: right;
  margin-top: -6px;
}

.currencyBtn {
  border: 2px solid black;
}

.messageInput {
  border: none !important;
  background-color: transparent !important;
  outline: none;
  resize: none;
  box-shadow: none !important;

}
.messageInputLabel {
  font-weight: 400;
}

.dropdown-menu {
  margin: 0;

  li {
    margin: 0;
  }
}

/*
 * Payment Choice Buttons
*/

.sendPayChoiceLabel {
  padding-left: 4%;
  font-size: 1.2em;
  font-weight: 400;
}

.paymentChoiceWrapper {
  background-color: HSLA(48, 33%, 97%, 1);
  border: 2px solid black;
  border-radius: 10px;
  margin: 4%;

  .paymentType {
    width: 100%;
  }

  .sendingMoneyChoice,
  .payingForGoodsChoice {
    text-align: left;
    font-size: 1.2em;
    height: 60px;
  }

  .sendingMoneyChoice {
    border-bottom: 2px solid black;
  }

  .paymentOptionActive {
    color: HSLA(28, 56%, 58%, 1);
  }

  .paymentOptionActive:hover {
    color: HSLA(28, 56%, 58%, 1);
  }

  .paymentOption1Icon,
  .paymentOption2Icon {
    display: none;
    color: HSLA(28, 56%, 58%, 1);
  }
}


/* Footer buttons */

.buttonWrapper {
  width: 100%;
  background-image: radial-gradient(HSLA(30, 59%, 17%, 1), HSLA(32, 60%, 19%, 1));
  padding-top: 3%;
  padding-bottom: 13%;
  margin-top: 10%;

  .clearFormLink {
    float: left;
    margin-left: 5%;
  }

  .nextPageLink {
    float: right;
    margin-right: 5%;
  }

  .nextPageButton,
  .clearFormButton {
    width: 200px;
    background-image: radial-gradient( HSLA(80, 60%, 99%, 1),HSLA(0, 0%, 89%, 1));
    height: 60px;
    color: HSLA(0, 0%, 25%, 1);
    font-size: 1.5em;
    font-weight: 400;
    outline: none;
  }
}

// Black Image Flash Overlay
.overlayFlash {
  background-color: HSLA(0, 0%, 0%, 0.7);
  opacity: 1;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // Spinner element
  i {
    color: white;
    margin: 43%;
  }
}
/* END Send Money Page*/

/* Money Sent Confirmation Page*/
.successWrapper {
  margin-top: 15%;
  margin-bottom: 20%;
}
.confirmation {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
}

.fa-check {
  color: HSLA(29, 63%, 56%, 1);
  margin-left: 43%;
}

.buttonWrapper {

  .sendMoreMoneyLink {
    float: left;
    margin-left: 5%;
  }

  .transactionHistoryLink {
    float: right;
    margin-right: 5%;
  }

  .sendMoreMoneyBtn,
  .transactionHistoryBtn {
    background-image: radial-gradient( HSLA(80, 60%, 99%, 1),HSLA(0, 0%, 89%, 1));
    height: 60px;
    color: HSLA(0, 0%, 25%, 1);
    font-size: 1.5em;
    font-weight: 500;
    outline: none;
  }
}
/* End Money Sent Confirmation Page*/

/* Transaction History Page*/
.list-group {
  margin-bottom: 0 !important;
}

.list-group-item {
  background-color:HSLA(28, 46%, 85%, 1) !important;
  border: none !important;
  font-size: 1.5em;
  font-weight: 400;
}

.list-group-item-container {
  height: 500px;
  overflow: scroll;

  .transactionsDateString {
    text-align: left;
  }

  .transactionsEmail {
    text-align: center;
  }

  .transactionsCurrency {
    text-align: right;
  }
}

.transactionBtnWrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: HSLA(34, 70%, 13%, 1);

  .backHomeBtn {
    background-image: radial-gradient( HSLA(80, 60%, 99%, 1),HSLA(0, 0%, 89%, 1));
    height: 60px;
    color: HSLA(0, 0%, 25%, 1);
    font-size: 1.5em;
    font-weight: 500;
    outline: none;
    width: 93%;
    margin-left: 3%;
  }
}
/* END Transaction History Page*/
