// NOTE: The Use of !important is because of bootstrap overriding local css selectors. To avoid this I nested many selectors.


// less variables

// COLORS

 // Header and Footer Background
@brown: radial-gradient(HSLA(30, 59%, 17%, 1), HSLA(32, 60%, 19%, 1));
 // Main Section Background
@tan: HSLA(26, 40%, 92%, 1);
 // Input Field Background
@light-tan: HSLA(48, 33%, 97%, 1);
 // Button Color
@gray-btn: radial-gradient( HSLA(80, 60%, 99%, 1),HSLA(0, 0%, 89%, 1));
 // Choice Btns
@choice-btn: linear-gradient(HSLA(0, 0%, 100%, 1), HSLA(0, 0%, 73%, 1));
 // Button Font Color
@black-btn-font: HSLA(0, 0%, 25%, 1);
 // White
@white: HSLA(0, 0%, 100%, 1);
 // Payment Choice Active Orange
@payment-orange: HSLA(28, 56%, 58%, 1);

// FONTS
@font-size-1: 1.2em;
@font-size-2: 1.5em;
@font-weight-400: 400;
@font-weight-500: 500;
@align-center: center;

// BORDER
@2px-black: 2px solid black;

@no-outline: none;

// MIXINS

// Buttons
.btn-mixin {
  background-image: @gray-btn;
  color: @black-btn-font;
  font-size: @font-size-2;
  font-weight: @font-weight-400;
  height: 60px;
  outline: @no-outline;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-decoration: none;
}

// set universal button states
button:focus {
  outline: 0;
  }
button:hover, button:active {
  opacity: 0.7;
}


// Force Chrome to change background-color for input values

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px @light-tan inset;
}

.main-container {
  background-image: @brown;
  border: @2px-black;
  padding-left: 0px !important;
  padding-right: 0px !important;
  postion: relative;
}

.main-container__content {
  background-color: @tan;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.page-title {
  color: @white;
  font-size: 1.75em;
  margin: 4%;
  text-align: @align-center;
}

.pageFooter {
  margin: 15%;
}

// START Initial Page
.send-money-btn,
.view-transaction-hist-btn {
  background-image: @choice-btn;
  border-radius: 6px;
  border: transparent;
  box-shadow: 0 7px 6px -4px HSLA(60, 0%, 55%, 1);
  color: @black-btn-font;
  height: 125px;
  text-align: @align-center;
  width: 87%;

  .send-money-btn-title,
  .view-transaction-hist-title {
    margin-top: auto;
    margin-bottom: auto;
    font-size: @font-size-2;
    font-weight: @font-weight-500;
  }
}

// active states
.send-money-btn:hover,
.view-transaction-hist-btn:hover,
.send-money-btn:active,
.view-transaction-hist-btn:active{
  background-image: linear-gradient(HSLA(0, 0%, 86%, 1), HSLA(0, 0%, 70%, 1));
}

.send-money-btn {
  margin: 21% 6%;
}
.view-transaction-hist-btn {
  margin: 1% 6% 23%;
}
.homeFooter {
  margin-bottom: 15%;
  background-color: @brown;
}

// END Initial Page

// START Send Money Page
.send-form {
  padding-top: 1%;
}

.input-container {
   position: relative;
}

.input-container input {
  width: 100%;
}

.input-container
.input-label {
  padding-left: 5px;
  position: absolute;
  top: 7px;
  width: 45px;
}

.amount-input {
  text-indent: 50px;
}

.input-email-prepend,
.input-amount-prepend,
.message-input-label {
  font-size: @font-size-1;
  margin-left: 8px;
  font-weight: @font-weight-400;
}

.wrapper {
  background-color: @light-tan;
  border: @2px-black;
  border-radius: 15px;
  margin: 4%;
  padding: 2%;

  .message-input {
    border: none;
    background-color: transparent;
    outline: @no-outline;
    resize: none;
    box-shadow: none;
  }

  .email-valid-icon {
    float: right;
    color: HSLA(120, 100%, 25%, 1);
    display: none;
  }

  .email-input {
    background-color: @light-tan;
    border: none;
    outline: @no-outline;
    width: 50%;
  }
}

.payment-amount-input {
  background-color: transparent;
  border: none;
  width: 50%;
  outline: @no-outline;
}

.currency-btn-group {
  float: right;
  margin-top: -6px;

  .currency-btn {
    background-color: HSLA(0, 0%, 93%, 1);
    border: @2px-black;
    border-radius: 6px;
  }
}

.dropdown-menu {
  margin: 0;

  li {
    margin: 0;
  }
}

// Payment Choice Buttons

.payment-choice-label {
  padding-left: 4%;
  font-size: @font-size-1;
  font-weight: @font-weight-400;
}

.payment-choice-wrapper {
  background-color: @light-tan;
  border: @2px-black;
  border-radius: 15px;
  margin: 4%;

  .payment-choice-type-group {
    width: 100%;
  }

  .payment-choice-type__send-btn,
  .payment-choice-type__pay-btn {
    text-align: left;
    font-size: @font-size-1;
    height: 60px;
  }

  .payment-choice-type__send-btn {
    border-bottom: @2px-black;
  }

  .js-payment-option-active {
    color: @payment-orange;
  }

  .js-payment-option-active:hover {
    color: @payment-orange;
  }

  .payment-choice-type__send-icon,
  .payment-choice-type__pay-icon {
    display: none;
    color: @payment-orange;
  }
}


// Footer buttons

.btn-group-footer {
  width: 100%;
  background-image: @brown;
  padding-top: 3%;
  padding-bottom: 15%;
  margin-top: 10%;

  .clear-form-link {
    float: left;
    margin-left: 5%;
  }

  .next-page-link {
    float: right;
    margin-right: 5%;
  }

  .next-page-btn,
  .clear-form-btn {
    width: 200px;
    .btn-mixin;
  }
}

// Black Image Flash Overlay
.overlay__flash {
  background-color: HSLA(0, 0%, 0%, 0.7);
  opacity: 1;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // Spinner element
  i {
    color: @white;
    margin: 43%;
  }
}
// END Send Money Page

// Money Sent Confirmation Page
.success-wrapper {
  padding: 35% 0;
}
.confirmation {
  font-size: @font-size-2;
  font-weight: @font-weight-400;
  text-align: @align-center;
  padding-top: 10%;
}

.fa-check {
  color: HSLA(29, 63%, 56%, 1);
  margin-left: 43%;
}

.btn-group-footer {

  .send-more-money-link {
    float: left;
    margin-left: 5%;
  }

  .transaction-history-link {
    float: right;
    margin-right: 5%;
  }

  .send-more-money-btn,
  .transaction-hostory-btn {
    .btn-mixin;
  }
}
// End Money Sent Confirmation Page

// Transaction History Page
.list-group {
  margin-bottom: 0 !important;
}

.list-group-item-container {
  height: 500px;
  overflow: scroll;

  .list-group-item {
    background-color:HSLA(28, 46%, 85%, 1);
    border: none;
    font-size: @font-size-2;
    font-weight: @font-weight-400;
  }

  .list-group-item__transaction-date {
    text-align: left;
  }

  .list-group-item__transaction-email {
    text-align: @align-center;
  }

  .list-group-item__transaction-currency {
    text-align: right;
  }
}

.transaction-btn-wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: @brown;

  .back-home-btn {
    .btn-mixin;
    width: 93%;
    margin-left: 3%;
  }
}
// END Transaction History Page
